
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

.active {
    background-color: #b0d3fb;
    border-color: #102d4b;
    color: black;
}

* {
  font-family: "Open Sans";
}

select,input,textarea {
  border: 1px, solid #c2c2c2;
  border-radius: 4px;
  
}

/* Hide number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ripple-container .ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.4); /* Ripple color */
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}




@theme {
  --color-primary: #102d4b;
  --color-secondary: #d4ac0d;
  --color-tertiary: #6a6f73;
  --color-iceberg: #d4f4ec;
  --color-genoa: #158e6a;
  --color-blueberry: #3686dc;
}